@model UserEditViewModel

@*@using (Ajax.BeginForm("Edit", "User", new AjaxOptions
{
    UpdateTargetId = "profile-data",
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace
}, new { id = "userEditForm", enctype = "multipart/form-data" }))*@
@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { id = "userEditForm", enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Lični podaci</legend>
        <div class="form-group">
            <div class="col-md-4"><label>Ime:</label></div>
            <div class="col-lg-10" id="first-name-div">
                @Html.TextBoxFor(model => model.FirstName, new { placeholder = "ime" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><label>Prezime:</label></div>
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.LastName, new { placeholder = "prezime" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><label>Smjer:</label></div>
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Department, new { placeholder = "smjer" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><label>Adresa:</label></div>
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Address, new { placeholder = "adresa" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><label>Email:</label></div>
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Email, new { placeholder = "e-mail" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><label>Profilna slika:</label></div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AvatarUrl, new { type = "file", @class = "filestyle", data_buttonBefore = "true", data_buttonText = "&nbspIzaberite sliku" })
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Kontakt podaci</legend>
        @*<div class="form-group">
            <div class="col-md-4"><label>Ime:</label></div>
            <div class="col-lg-10" id="first-name-div">
                @Html.TextBoxFor(model => model.FirstName, new { placeholder = "ime" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><label>Prezime:</label></div>
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.LastName, new { placeholder = "prezime" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><label>Smjer:</label></div>
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Department)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><label>Adresa:</label></div>
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Address, new { placeholder = "adresa" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><label>Email:</label></div>
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Email, new { placeholder = "e-mail" })
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Sačuvaj" class="btn btn-default" />
            </div>
        </div>
    </fieldset>
}
