@model UserViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading" id="personal-data">Lični podaci</div>
    <div class="panel-body">
        <i class="fa fa-user">&nbsp;&nbsp;</i>Korisnicko ime: @Model.UserName<br />
        <i class="fa fa-user">&nbsp;&nbsp;</i>Ime: @Model.FirstName<br />
        <i class="fa fa-user">&nbsp;&nbsp;</i>Prezime: @Model.LastName<br />
        <i class="fa fa-envelope">&nbsp;&nbsp;</i>Email adresa: @Model.Email<br />
        <i class="fa fa-calendar">&nbsp;&nbsp;</i>Datum registracije<br />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" id="contact-data">Kontakt podaci</div>
    <div class="panel-body">
        <i class="fa fa-user">&nbsp;&nbsp;</i>Email: @Model.Email<br />
        <i class="fa fa-user">&nbsp;&nbsp;</i>Adresa: @Model.Address<br />
        <i class="fa fa-user">&nbsp;&nbsp;</i>Broj telefon: @Model.PhoneNumber<br />
        <i class="fa fa-envelope">&nbsp;&nbsp;</i>Mobilni telefon: @Model.MobilePhone<br />
        <i class="fa fa-calendar">&nbsp;&nbsp;</i>Facebook: @Model.FacebookUrl<br/>
        <i class="fa fa-calendar">&nbsp;&nbsp;</i>Twitter: @Model.TwitterUrl<br/>
        <i class="fa fa-calendar">&nbsp;&nbsp;</i>LinkedIn: @Model.LinkedInUrl<br />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="background: #455a64; color: #ffffff;">Panel heading</div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Column heading</th>
                    <th>Column heading</th>
                    <th>Column heading</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="success">
                    <td>4</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="active">
                    <td>7</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="warning">
                    <td>6</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




