@model UserViewModel
@{
    ViewBag.Title = "PublishedPosts";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var counter = 1;
}

<div class="panel panel-default">
    <div class="panel-heading" style="background: #37474f; color: #ffffff;">Objavljeni postovi</div>
    <div class="panel-body">
        <div class="table-responsive" id="published-posts-wrapper">
            <table class="table table-striped table-hover" id="posts-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Naslov&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                        <th>Kategorija&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                        <th>Datum objave&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Posts)
                    {
                        <tr>
                            <td>@counter</td>
                            @*<td><a href="@Url.Action("Details", "Post", new {postID = item.PostId})">@item.Title</a></td>*@
                            <td>@Html.SubstringTextFor(item.Title, 20, "Details", "Post", new {postID = item.PostId}, null)</td>
                            <td>@item.Category.CategoryName</td>
                            <td>@item.CreatedAt</td>
                            <td>
                                @*<a href="#"><i class="fa fa-pencil">&nbsp;</i></a>&nbsp;&nbsp;&nbsp;
                                    <a href="#"><i class="fa fa-trash-o">&nbsp;</i></a>*@
                                @Html.ActionLink("Izmijeni", "Edit", "Post", new { id = item.PostId }, null)
                                <a href="@Url.Action("Edit", "Post", new { postId = item.PostId } )"><i class="fa fa-pencil">&nbsp;</i> Edit</a>    
                                <button id="edit-btn" class="btn btn-primary btn-sm edit-btn"><i class="fa fa-pencil"></i></button>
                                @*<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>*@
                                <a href="#" id="@item.PostId" class="btn btn-danger btn-sm delete-btn" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o"></i></a>
                            </td> @*@Url.Action("Modal", "User", new { postId = item.PostId })*@
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Brisanje posta</h4>
            </div>
            <div class="modal-body">
                Da li ste sigurni da želite da obrišete odabrani post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                <button type="button" id="mySubmit" class="btn btn-primary">Potvrdi</button>
            </div>
        </div>
    </div>
</div>


