<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap theme -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/paper/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
    <!-- Main menu -->
    <div class="navbar navbar-inverse navbar-static-top" id="main-nav">
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action("Index", "Home")" class="navbar-brand">ETF Forum</a>
                
            </div>

            <!-- Collection of nav links and other content for toggling -->
            <div class="navbar-collapse collapse">
                <!-- Lijeva strana menija -->
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>&nbsp;&nbsp;Početna</a></li>
                    <li><a href="@Url.Action("Create", "Post")"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Postavi pitanje</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i>&nbsp;&nbsp;Tagovi</a></li>
                </ul>
                <!-- Desna strana menija -->
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("Profile", "User", new { username = User.Identity.Name })">@User.Identity.Name</a></li>
                        <li>@Html.ActionLink("Logout", "LogOut", "Auth")</li>
                    }
                    @if (!Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Prijava", "LogIn", "Auth")</li>
                        <li>@Html.ActionLink("Registracija", "Register", "Auth")</li>
                    }
                </ul>
            </div>
           
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer id="main-footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>
    </footer>

    <!-- Scripts -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")

    <!-- Bootstrap Validator CDN -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>