@model LoginModel
@{
    ViewBag.Title = "Prijava na servis";
}

<div class="row">
    <div class="col-md-12 col-sm-12" id="login-wrapper">
        <div class="col-md-6 col-sm-6" id="login-form-wrapper">
            @using (Html.BeginForm("LogIn", "Auth", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h2 style="color:  #03a9f4">@ViewBag.Title</h2>
                <h4>Potrebno je da ispunite sve tražene podatke</h4>
                <hr />

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.UserName, "Korisničko ime:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Password, "Lozinka:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" value="Prijavi se" class="btn btn-block btn-primary" />
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6 col-sm-6" id="login-welcome">
            <div class="col-md-5 col-sm-12">
                <img src="~/Content/images/etf_logo.png" class="img-rounded welcome-logo" alt="Rounded Image">
            </div>
            <div class="col-md-7 col-sm-12">
                <h2>ETF Istočno Sarajevo</h2>
                <h3>Servis za pitanja i diskusije</h3>
            </div>
        </div>
        @*<div class="clearfix visible-md-block"></div>*@
    </div>
</div>

