@model PagedList.IPagedList<ForumETF.Models.Post>
@using PagedList.Mvc;

@foreach (var item in Model)
{
    <header class="col-md-12 post-title">
        <h3>@Html.ActionLink(item.Title, "Details", "Post", new { id = item.PostId }, null)</h3>
    </header>
    <div class="col-md-12">
        <p>@item.Content</p>
    </div>
    <footer class="col-md-12 post-footer">
        <div>
            <span><i class="fa fa-user"></i>&nbsp;autor: <a href="#" class="btn-link">@item.User.UserName</a> |</span>
            <span><i class="fa fa-folder-open-o"></i>&nbsp;Kategorija: @Html.ActionLink(item.Category.CategoryName, "GetPostsByCategory", "Post", new { categoryName = item.Category.CategoryName }, null) |</span>
            <span><i class="fa fa-calendar"></i>&nbsp;datum objave: 16.12.2014 |</span>
            <span><i class="fa fa-comments"></i>&nbsp;broj komentara: @item.Comments.Count |</span>
            <span><i class="fa fa-reply"></i>&nbsp;broj odgovora: @item.Answers.Count</span>
        </div>
        <div class="tags-row">
            @foreach (var tag in item.Tags)
            {
                <a href="@Url.Action("GetPostsByTag", "Post", new { tagName = tag.TagName })" class="btn btn-primary tag">
                    <i class="fa fa-tag"></i>&nbsp;&nbsp;@tag.TagName
                </a>
            }
        </div>
    </footer>
}

<div class="col-md-12">
    <hr />
    <span>Strana @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount</span>
    @Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>