@model ForumETF.ViewModels.PostDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row post-wrapper">

    <header class="col-md-12">
        <h3>@Model.Title</h3>
    </header>
    <div class="col-md-12">
        <div class="col-md-1">
            <span class="vote-span"><a href="#"><i class="fa fa-angle-up fa-3x"></i></a></span>
            <span class="vote-span" id="vote-count">@Model.Votes</span>
            <span class="vote-span"><a href="#"><i class="fa fa-angle-down fa-3x"></i></a></span>
            <span class="vote-span"><a href="#"><i class="fa fa-star-o fa-3x" style="color: yellow;"></i></a></span>
        </div>
        <div class="col-md-11">
            <p>
                @MvcHtmlString.Create(HttpUtility.HtmlDecode(Model.Content))
            </p>
        </div>
        <footer class="col-md-11 col-md-offset-1">
            <div>
                <i class="fa fa-user"></i>&nbsp;autor: <a href="#" class="btn-link">@Model.User.UserName</a>&nbsp; | &nbsp;
                <i class="fa fa-calendar"></i>&nbsp;datum objave: @Model.CreatedAt &nbsp; | &nbsp;
                <i class="fa fa-comments"></i>&nbsp;broj komentara: @Model.Comments.Count &nbsp; | &nbsp;
                <i class="fa fa-reply"></i>&nbsp;broj odgovora: 5
            </div>
            <div class="tags-row">
                @foreach (var tag in Model.Tags)
                {
                    <a href="@Url.Action("GetPostsByTag", "Post", new { tagName = tag.TagName })" class="btn btn-primary tag">
                        <i class="fa fa-tag"></i>&nbsp;&nbsp;@tag.TagName
                    </a>
                }
            </div>
            <div>
                @foreach (var file in Model.Attachments)
                { 
                    <i class="fa fa-paperclip">&nbsp;&nbsp;</i><a href="@Url.Action("GetFile", "Post", new {filename = file.FileName, postId = Model.PostID})">@file.FileName</a>
                    @*@Html.ActionLink("Link download", "GetFile", "Post", new{filename = file.FileName, postId = Model.PostID}, null)*@
                    <br />
                }
            </div>
        </footer>
    </div>

</div>

<div class="row">
    <div class="col-md-8 col-md-offset-4" id="comments-area">
        @foreach (var comment in Model.Comments)
        {   
            <div class="col-md-12 comment">
                <div class="col-md-12">
                    @comment.Content
                </div>
                <div class="col-md-12">
                    <i class="fa fa-user"></i>&nbsp;autor: <a href="#" class="btn-link">@comment.User.UserName</a>&nbsp; | &nbsp;
                    <i class="fa fa-calendar"></i>&nbsp;datum objave: 16.12.2014
                </div>
            </div>
        }
    </div>
    <div class="col-md-8 col-md-offset-4">
        <hr />
        <div class="col-md-12">
            <div class="col-md-12">
                <a href="#" id="new-comment-link" class="btn-link">Dodajte komentar&nbsp;<i class="fa fa-angle-down"></i></a>
            </div>
        </div>
        <div class="col-md-12" id="comment-form-wrapper">
            @using (Ajax.BeginForm("Create", "Comment", new { post = @Model.PostID }, new AjaxOptions
            {
                UpdateTargetId = "comments-area",
                HttpMethod = "Post",
                InsertionMode = InsertionMode.InsertAfter
            }, new { id = "comment-form" }))
            {
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Komentar:</label>
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        <textarea id="commentTextarea" name="commentContent"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ostavite komentar" class="btn btn-danger" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-11 col-md-offset-1" id="answers-area">
        @foreach (var answer in Model.Answers)
        {
            <div class="col-md-12 answer-wrapper">
                <div class="col-md-1">
                    <span class="vote-span"><a href="#"><i class="fa fa-angle-up fa-3x"></i></a></span>
                    <span class="vote-span" id="vote-count">@answer.Votes</span>
                    <span class="vote-span"><a href="#"><i class="fa fa-angle-down fa-3x"></i></a></span>
                    <span class="vote-span"><a href="#"><i class="fa fa-star-o fa-3x" style="color: yellow;"></i></a></span>
                </div>
                <div class="col-md-11 answer-content">
                    <p>
                        @MvcHtmlString.Create(HttpUtility.HtmlDecode(Model.Content))
                    </p>
                </div>
                <footer class="col-md-11 col-md-offset-1">
                    <div>
                        <i class="fa fa-user"></i>&nbsp;autor: <a href="#" class="btn-link">@answer.User.UserName</a>&nbsp; | &nbsp;
                        <i class="fa fa-calendar"></i>&nbsp;datum objave: @answer.CreatedAt
                    </div>
                    <hr />
                </footer>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-4">
        @Html.Partial("_RichEditor")            
    </div>
</div>



