@model ForumETF.ViewModels.PostDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="divResponse">
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

<div class="row">
    @foreach (var comment in Model.Comments)
    { 
        <p>
            @comment.Content
        </p>
        <br />
    }
</div>

<hr />



@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "Post";
    //options.OnBegin = "OnBegin";
    //options.OnFailure = "OnFailure";
    //options.OnComplete = "OnComplete";
    //options.OnSuccess = "OnSuccess";
    //options.LoadingElementId = "divProgress";
    //options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "divResponse";
    options.InsertionMode = InsertionMode.InsertAfter;
}

@using (Ajax.BeginForm("Create", "Comment", new { post = Model.PostID }, options))
{
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <div class="form-group">
                @Html.Label("Komentar: ", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextArea("comment_body")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Ostavi komentar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}


