@model Post
@{
    ViewBag.Title = "Ovdje možete postaviti vaše pitanje";
}

<div class="row">
    <div class="col-md-12" id="post-create-wrapper">
        <section class="col-md-7">
            @using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { id = "EditPostForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h3 style="color:  #03a9f4">@ViewBag.Title</h3>
                <h4>Polja označena zvjezdicom su obavezna!</h4>
                <hr />

                <div class="form-group">
                    <div class="col-md-2 col-sm-2">
                        @Html.LabelFor(m => m.Title, "Naslov:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-10 col-sm-10">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 col-sm-2">
                        @Html.LabelFor(m => m.Tags, "Tagovi:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-10 col-sm-10">
                        @Html.EditorFor(m => m.Tags, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
              
                <div class="form-group">
                    <div class="col-md-2 col-sm-2">
                        <label class="control-label">Tekst:</label>
                    </div>
                    <div class="col-md-10 col-sm-10" id="post-wysiwyg-wrapper">
                        @Html.TextAreaFor(m => m.Content)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                        <input type="submit" id="post-save" value="Pošalji" class="btn btn-block btn-primary" />
                    </div>
                </div>
            }
        </section>
        <section class="col-md-5" id="rules-section">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;Pravila za postavljanje pitanja</div>
                    <div class="panel-body">
                        <ul>
                            <li>Pravilo 1</li>
                            <li>Pravilo 2</li>
                            <li>Pravilo 3</li>
                            <li>Pravilo 4</li>
                            <li>Pravilo 5</li>
                            <li>Pravilo 6</li>
                            <li>Pravilo 7</li>
                            <li>Pravilo 8</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



